Repository kubecolor/kubecolor, changes with the labels that .github/labeler.yml gives for each.
All labels: go, dependencies, github_actions, documentation

scanner: handle negative JSON numbers
  scanner/logscan/logscan.go
  scanner/logscan/logscan_test.go
Labels: go

scanner: handle negative JSON numbers
  printer/util.go
Labels: go

address review comments
  scanner/logscan/logscan.go
  scanner/logscan/logscan_test.go
Labels: go

logscan: add support for Ruby-style :key=>value log format
  scanner/logscan/logscan.go
  scanner/logscan/logscan_test.go
Labels: go

fix: imply plain mode for interactive commands
  command/config.go
  command/config_test.go
Labels: go

Update Go from v1.26.1 to v1.26.4
  Dockerfile
  go.mod
Labels: go, dependencies

Add corpus tests
  test/corpus/json.txt
  test/corpus/kubectl_logs.txt
Labels: none

logscan: add support for Ruby-style :key=>value log format
  scanner/logscan/logscan.go
  scanner/logscan/logscan_test.go
Labels: go

Refactor
  scanner/logscan/logscan.go
  scanner/logscan/logscan_test.go
  test/corpus/kubectl_logs.txt
Labels: go

Update Go from v1.26.1 to v1.26.4 (#351)
  Dockerfile
  go.mod
Labels: go, dependencies

update all deps
  go.mod
  go.sum
Labels: go, dependencies

go 1.26.5
  Dockerfile
  go.mod
Labels: go, dependencies

re update
  go.mod
  go.sum
Labels: go, dependencies

correct issue with latest gookit/color
  config/color/color.go
  test/corpus/help.txt
  test/corpus/kubectl_get.txt
Labels: go

update all Go deps (#350)
  Dockerfile
  config/color/color.go
  go.mod
  go.sum
  test/corpus/help.txt
  test/corpus/kubectl_get.txt
Labels: go, dependencies

logscan: add support for Ruby-style :key=>value log format (#341)
  scanner/logscan/logscan.go
  scanner/logscan/logscan_test.go
  test/corpus/kubectl_logs.txt
Labels: go

fix: handle negative JSON numbers (#339)
  go.sum
  printer/util.go
  scanner/logscan/logscan.go
  scanner/logscan/logscan_test.go
  test/corpus/json.txt
  test/corpus/kubectl_logs.txt
Labels: go, dependencies

Add support for apply set-last-applied and view-last-applied subcommands
  kubectl/subcommand.go
  kubectl/subcommand_test.go
Labels: go

Add support for kubectl apply edit-last-applied
  kubectl/subcommand.go
  kubectl/subcommand_test.go
Labels: go

fix(help): prevent truncation of last character in bracketed URLs
  printer/help.go
  printer/help_test.go
  test/corpus/help.txt
Labels: go

Update to Go 1.26.6
  Dockerfile
  go.mod
Labels: go, dependencies

Stop running govulncheck in PRs
  .github/workflows/govulncheck.yml
Labels: github_actions

Apply changes
  config/theme.go
  printer/kubectl_output_colored_printer.go
  printer/kubectl_verb.go
  test/corpus/kubectl_apply.txt
Labels: go

Update schema
  config-schema.json
Labels: documentation

Apply changes
  command/config.go
  command/config_test.go
  kubectl/subcommand.go
  kubectl/subcommand_test.go
Labels: go

docs: fix ThemeDescribe doc comment naming ThemeApply
  config-schema.json
  config/theme.go
Labels: go, documentation

fix: imply plain mode for interactive commands (#346)
  command/config.go
  kubectl/subcommand.go
  kubectl/subcommand_test.go
Labels: go

Stop running govulncheck in PRs (#356)
  .github/workflows/govulncheck.yml
Labels: github_actions

Update to Go 1.26.6 (#355)
  Dockerfile
  go.mod
Labels: go, dependencies

fix(help): prevent truncation of last character in bracketed URLs (#354)
  printer/help.go
  printer/help_test.go
  test/corpus/help.txt
Labels: go

docs: fix ThemeDescribe doc comment naming ThemeApply (#358)
  config-schema.json
  config/theme.go
Labels: go, documentation

feat: color object age by configurable duration thresholds
  command/config_test.go
  config-schema.json
  config/config.go
  config/durationslice.go
  config/durationslice_test.go
  config/theme.go
  docs/object-fresh.svg
  docs/object-fresh.txt
  internal/cmd/configschema/main.go
  printer/kubectl_output_colored_printer.go
  printer/kubectl_output_colored_printer_test.go
  printer/util.go
  printer/util_test.go
Labels: go, documentation

Add support for kubectl apply edit-last-applied (#318)
  config-schema.json
  config/theme.go
  kubectl/subcommand.go
  kubectl/subcommand_test.go
  printer/kubectl_output_colored_printer.go
  printer/kubectl_verb.go
  test/corpus/kubectl_apply.txt
Labels: go, documentation

docs: note duration thresholds must be listed shortest to longest
  config-schema.json
  internal/cmd/configschema/main.go
Labels: go, documentation

feat: age-based coloring for kubectl get via duration thresholds (#360)
  command/config_test.go
  config-schema.json
  config/config.go
  config/durationslice.go
  config/durationslice_test.go
  config/theme.go
  docs/object-fresh.svg
  docs/object-fresh.txt
  internal/cmd/configschema/main.go
  printer/kubectl_output_colored_printer.go
  printer/kubectl_output_colored_printer_test.go
  printer/util.go
  printer/util_test.go
Labels: go, documentation

Provide automatic themes that switch light and dark automatically
  config/preset.go
  config/theme.go
  go.mod
  go.sum
Labels: go, dependencies

Provide automatic themes that switch light and dark automatically
  config/config.go
  config/preset.go
  config/theme.go
  go.mod
  go.sum
Labels: go, dependencies

Refactor to make it more testable
  command/config.go
  command/config_test.go
  command/runner.go
  config/config.go
  config/config_test.go
  config/testconfig/testconfig.go
  config/theme.go
  config/theme_test.go
  internal/cmd/configdoc/main.go
  internal/cmd/imagegen/main.go
  internal/testcorpus/run.go
Labels: go, documentation

Regen schema
  config-schema.json
Labels: documentation

Provide automatic themes that switch light and dark automatically (#363)
  command/config.go
  command/config_test.go
  command/runner.go
  config-schema.json
  config/config.go
  config/config_test.go
  config/preset.go
  config/testconfig/testconfig.go
  config/theme.go
  config/theme_test.go
  go.mod
  go.sum
  internal/cmd/configdoc/main.go
  internal/cmd/imagegen/main.go
  internal/testcorpus/run.go
Labels: go, dependencies, documentation

.github/labeler.yml:

# Config for https://github.com/actions/labeler

go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "**/go.mod"
          - "**/go.sum"
          - "**/go.work"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "**/go.mod"
          - "**/go.sum"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
          - ".github/dependabot.yml"
          - ".github/labeler.yml"
          - ".goreleaser.yml"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/*"
          - "config-schema.json"
          - "internal/cmd/configdoc/*"
          - "internal/cmd/configschema/*"
          - "internal/cmd/imagegen/*"
