Repository kubecolor/kubecolor, changes with the labels that .github/labeler.yml gives for each.
All labels: go, dependencies, github_actions, documentation

use cmd to run instead
  nonblockingtest/fakekubectl/main.go
  nonblockingtest/main.go
  nonblockingtest/script.sh
Labels: go

fix ci
  .github/workflows/nonblockingtest.yml
Labels: github_actions

Go 1.25.3 to resolve CVE-2025-58185 & CVE-2025-47912
  Dockerfile
  go.mod
Labels: go, dependencies

Go 1.25.3 to resolve CVE-2025-58185 & CVE-2025-47912 (#283)
  Dockerfile
  go.mod
Labels: go, dependencies

Add cooldown to Dependabot updates
  .github/dependabot.yml
Labels: github_actions

Increase max line length from 65536 to 1.5 MB
  internal/bytesutil/bytesutil.go
  internal/ctxscanner/ctxscanner.go
  printer/json.go
  printer/stderr.go
  printer/yaml.go
  scanner/describe/describe.go
  scanner/logscan/logscan.go
Labels: go

Also log error on scanner error
  command/runner.go
  printer/help.go
  printer/json.go
  printer/kubectl_describe.go
  printer/kubectl_diff.go
  printer/kubectl_explain.go
  printer/kubectl_logs.go
  printer/kubectl_options.go
  printer/kubectl_verb.go
  printer/kubectl_version.go
  printer/single_colored_printer.go
  printer/stderr.go
  printer/table.go
  printer/yaml.go
Labels: go

Add tests for fail state
  printer/json_test.go
  printer/kubectl_describe_test.go
  printer/kubectl_diff_test.go
  printer/kubectl_explain_test.go
  printer/kubectl_logs_test.go
  printer/kubectl_options_test.go
  printer/kubectl_verb_test.go
  printer/kubectl_version_test.go
  printer/single_colored_printer_test.go
  printer/table_test.go
  printer/yaml_test.go
  testutil/log.go
  testutil/reader.go
Labels: go

Missing tests on help.go
  printer/help_test.go
Labels: go

Always use the custom version printer
  command/runner.go
Labels: go

Improve 'executable not found' error
  command/runner.go
  command/runner_test.go
Labels: go

Colorize `kubectl label` & `kubectl annotate`
  config/theme.go
  printer/kubectl_output_colored_printer.go
  printer/kubectl_verb.go
  test/corpus/corpus_test.go
  test/corpus/kubectl_annotate.txt
  test/corpus/kubectl_label.txt
Labels: go

Update config schema
  config-schema.json
Labels: documentation

feat: Add age-based duration coloring for table output
  config-schema.json
  config/theme.go
  docs/kubectl-apply-light.svg
  docs/kubectl-describe-pod-light.svg
  docs/kubectl-get-pods-deuteranopia.svg
  docs/kubectl-get-pods-light.svg
  docs/kubectl-get-pods-protanopia.svg
  docs/kubectl-get-pods-tritanopia.svg
  docs/object-fresh.svg
  printer/kubectl_output_colored_printer.go
  printer/util.go
  printer/util_test.go
  test/corpus/kubectl_get.txt
  test/corpus/kubectl_output_colored_printer.txt
Labels: go, documentation

update main svgs to have colorful ages
  docs/kubectl-get-pods-light.svg
  docs/kubectl-get-pods-light.txt
  docs/kubectl-get-pods.svg
  docs/kubectl-get-pods.txt
Labels: documentation

reorder Makefile rules so light theme SVGs use the light freeze config
  Makefile
  docs/kubectl-apply-light.svg
  docs/kubectl-describe-pod-light.svg
  docs/kubectl-get-pods-light.svg
Labels: documentation

updated all themes to use same "get pods" example
  docs/kubectl-get-pods-deuteranopia.svg
  docs/kubectl-get-pods-deuteranopia.txt
  docs/kubectl-get-pods-protanopia.svg
  docs/kubectl-get-pods-protanopia.txt
  docs/kubectl-get-pods-tritanopia.svg
  docs/kubectl-get-pods-tritanopia.txt
Labels: documentation

Added back "Terminating" example
  docs/kubectl-get-pods-deuteranopia.svg
  docs/kubectl-get-pods-deuteranopia.txt
  docs/kubectl-get-pods-light.svg
  docs/kubectl-get-pods-light.txt
  docs/kubectl-get-pods-protanopia.svg
  docs/kubectl-get-pods-protanopia.txt
  docs/kubectl-get-pods-tritanopia.svg
  docs/kubectl-get-pods-tritanopia.txt
  docs/kubectl-get-pods.svg
  docs/kubectl-get-pods.txt
Labels: documentation

slightly more reaslistic example
  docs/kubectl-get-pods-deuteranopia.svg
  docs/kubectl-get-pods-deuteranopia.txt
  docs/kubectl-get-pods-light.svg
  docs/kubectl-get-pods-light.txt
  docs/kubectl-get-pods-protanopia.svg
  docs/kubectl-get-pods-protanopia.txt
  docs/kubectl-get-pods-tritanopia.svg
  docs/kubectl-get-pods-tritanopia.txt
  docs/kubectl-get-pods.svg
  docs/kubectl-get-pods.txt
Labels: documentation

Set DurationFlat for colorblind themes to preserve amber age coloring
  config/theme.go
  docs/kubectl-get-pods-deuteranopia.svg
  docs/kubectl-get-pods-protanopia.svg
  docs/kubectl-get-pods-tritanopia.svg
Labels: go, documentation

Add cooldown to Dependabot updates (#296)
  .github/dependabot.yml
Labels: github_actions

Always use the custom version printer (#298)
  command/runner.go
Labels: go

Improve 'executable not found' error (#299)
  command/runner.go
  command/runner_test.go
Labels: go

Colorize `kubectl label` & `kubectl annotate` (#300)
  config-schema.json
  config/theme.go
  printer/kubectl_output_colored_printer.go
  printer/kubectl_verb.go
  test/corpus/corpus_test.go
  test/corpus/kubectl_annotate.txt
  test/corpus/kubectl_label.txt
Labels: go, documentation

feat: color True/False bool status in kubectl get table output
  Makefile
  printer/kubectl_output_colored_printer.go
  test/corpus/kubectl_get.txt
Labels: go

Apply data coloring on all columns
  printer/kubectl_output_colored_printer.go
  printer/util.go
  test/corpus/kubectl_describe.txt
  test/corpus/kubectl_get.txt
  test/corpus/kubectl_output_colored_printer.txt
Labels: go

Update to Go 1.26.1
  go.mod
Labels: go, dependencies

Fix version in Dockerfile
  Dockerfile
Labels: dependencies

feat: Add customizable duration thresholds for age-based coloring
  command/config_test.go
  command/runner.go
  config-schema.json
  config/config.go
  config/duration.go
  config/theme.go
  docs/kubectl-get-pods-deuteranopia.svg
  docs/kubectl-get-pods-deuteranopia.txt
  docs/kubectl-get-pods-light.svg
  docs/kubectl-get-pods-light.txt
  docs/kubectl-get-pods-protanopia.svg
  docs/kubectl-get-pods-protanopia.txt
  docs/kubectl-get-pods-tritanopia.svg
  docs/kubectl-get-pods-tritanopia.txt
  docs/kubectl-get-pods.svg
  docs/kubectl-get-pods.txt
  docs/object-fresh.svg
  internal/cmd/imagegen/main.go
  internal/testcorpus/run.go
  printer/kubectl_output_colored_printer.go
  printer/util.go
  printer/util_test.go
  test/corpus/kubectl_get.txt
  test/corpus/kubectl_logs.txt
  test/corpus/kubectl_output_colored_printer.txt
Labels: go, documentation

Update to Go 1.26.1 (#308)
  Dockerfile
  go.mod
Labels: go, dependencies

Increase max line length from 65 kB to 1.5 MB (#297)
  command/runner.go
  internal/bytesutil/bytesutil.go
  internal/ctxscanner/ctxscanner.go
  printer/help.go
  printer/help_test.go
  printer/json.go
  printer/json_test.go
  printer/kubectl_describe.go
  printer/kubectl_describe_test.go
  printer/kubectl_diff.go
  printer/kubectl_diff_test.go
  printer/kubectl_explain.go
  printer/kubectl_explain_test.go
  printer/kubectl_logs.go
  printer/kubectl_logs_test.go
  printer/kubectl_options.go
  printer/kubectl_options_test.go
  printer/kubectl_verb.go
  printer/kubectl_verb_test.go
  printer/kubectl_version.go
  printer/kubectl_version_test.go
  printer/single_colored_printer.go
  printer/single_colored_printer_test.go
  printer/stderr.go
  printer/table.go
  printer/table_test.go
  printer/yaml.go
  printer/yaml_test.go
  scanner/describe/describe.go
  scanner/logscan/logscan.go
  testutil/log.go
  testutil/reader.go
Labels: go

feat: color True/False bool status in kubectl get table output (#307)
  Makefile
  printer/kubectl_output_colored_printer.go
  printer/util.go
  test/corpus/kubectl_describe.txt
  test/corpus/kubectl_get.txt
  test/corpus/kubectl_output_colored_printer.txt
Labels: go

Add support for kubectl apply edit-last-applied
  kubectl/subcommand.go
  kubectl/subcommand_test.go
Labels: go

Remove custom homebrew tap release job
  .github/workflows/release.yml
Labels: github_actions

Adjust dependabot grouping
  .github/dependabot.yml
Labels: github_actions

Add support for apply set-last-applied and view-last-applied subcommands
  kubectl/subcommand.go
  kubectl/subcommand_test.go
Labels: go

Remove custom homebrew tap release job (#319)
  .github/workflows/release.yml
Labels: github_actions

Adjust dependabot grouping (#320)
  .github/dependabot.yml
Labels: github_actions

Fix version comment
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: github_actions

fix: disable colorization for delete --interactive to prevent corrupted output
  kubectl/subcommand.go
  kubectl/subcommand_test.go
Labels: go

.github/labeler.yml:

# Config for https://github.com/actions/labeler

go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "**/go.mod"
          - "**/go.sum"
          - "**/go.work"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "**/go.mod"
          - "**/go.sum"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
          - ".github/dependabot.yml"
          - ".github/labeler.yml"
          - ".goreleaser.yml"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/*"
          - "config-schema.json"
          - "internal/cmd/configdoc/*"
          - "internal/cmd/configschema/*"
          - "internal/cmd/imagegen/*"
