Repository kubecolor/kubecolor, changes with the labels that .github/labeler.yml gives for each.
All labels: go, dependencies, github_actions, documentation

.github/labeler.yml:

# Config for https://github.com/actions/labeler

go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"
          - "**/go.mod"
          - "**/go.sum"
          - "**/go.work"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "**/go.mod"
          - "**/go.sum"
          - "Dockerfile"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/*"
          - ".github/dependabot.yml"
          - ".github/labeler.yml"
          - ".goreleaser.yml"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/*"
          - "config-schema.json"
          - "internal/cmd/configdoc/*"
          - "internal/cmd/configschema/*"
          - "internal/cmd/imagegen/*"

Fix gpg sign in release workflow
  assets/packaging/rpm-repomd-sign.sh
Labels: none

Change to always create tag
  .github/workflows/release.yml
Labels: github_actions

Fix release workflow (#238)
  .github/workflows/release.yml
  assets/packaging/rpm-repomd-sign.sh
Labels: github_actions

Fix tagging
  .github/workflows/release.yml
Labels: github_actions

Fix tagging (#239)
  .github/workflows/release.yml
Labels: github_actions

Fix artifacts in release.yml
  .github/workflows/release.yml
  assets/packaging/createrepo.sh
  assets/packaging/reprepro.sh
  assets/packaging/rpmsign.sh
  assets/packaging/version.sh
Labels: github_actions

Fix artifacts in release.yml (#240)
  .github/workflows/release.yml
  assets/packaging/createrepo.sh
  assets/packaging/reprepro.sh
  assets/packaging/rpmsign.sh
  assets/packaging/version.sh
Labels: github_actions

Fix upload assets to release
  .github/workflows/release.yml
Labels: github_actions

Fix upload assets to release (#241)
  .github/workflows/release.yml
Labels: github_actions

Fix publish command
  .github/workflows/release.yml
Labels: github_actions

Fix publish command (#242)
  .github/workflows/release.yml
Labels: github_actions

Update kubectl/subcommand.go
  kubectl/subcommand.go
Labels: go

Add missing release asset checksums
  .github/workflows/release.yml
  assets/packaging/gh-label-assets.sh
Labels: github_actions

Add missing release asset checksums (#244)
  .github/workflows/release.yml
  assets/packaging/gh-label-assets.sh
Labels: github_actions

Fix CI badge in README.md
  README.md
Labels: documentation

Fix CI badge in README.md (#251)
  README.md
Labels: documentation

Fix `kubectl logs` parsing of klog with dashes
  scanner/logscan/logscan.go
  test/corpus/kubectl_logs.txt
Labels: go

Fix `kubectl logs` parsing of dates with comma delimiter
  scanner/logscan/logscan.go
  test/corpus/kubectl_logs.txt
Labels: go

Fix `kubectl logs` parsing of klog with dashes (#252)
  scanner/logscan/logscan.go
  test/corpus/kubectl_logs.txt
Labels: go

Fix `kubectl logs` parsing of dates with comma delimiter (#253)
  scanner/logscan/logscan.go
  test/corpus/kubectl_logs.txt
Labels: go

add missing error status colorizing
  printer/util.go
Labels: go

add missing error status colorizing (#259)
  printer/util.go
Labels: go

Update mapstructure to fix vulnerability
  go.mod
  go.sum
Labels: go, dependencies

Update Go to 1.24.5
  go.mod
Labels: go, dependencies

Fix version in Dockerfile
  Dockerfile
Labels: dependencies

Update Go v1.24.0 -> v1.24.5 & mapstructure v2.2.1 -> v2.4.0 to fix vulnerability (#262)
  Dockerfile
  go.mod
  go.sum
Labels: go, dependencies

Update Go to 1.24.7
  go.mod
Labels: go, dependencies

Update Dockerfile
  Dockerfile
Labels: dependencies

Update Go to 1.24.7 to fix vuln GO-2025-3956 / CVE-2025-47906 (#271)
  Dockerfile
  go.mod
Labels: go, dependencies

Fix release workflow after actions/download-artifacts update
  .github/workflows/release.yml
Labels: github_actions

Fix tag_name -> tag-name
  .github/workflows/release.yml
Labels: github_actions

Fix release workflow after actions/download-artifacts update (#272)
  .github/workflows/release.yml
Labels: github_actions

Fix CI/CD security to follow zizmor recommendations
  .github/workflows/ci.yml
  .github/workflows/govulncheck.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Labels: github_actions

add more missing error status colorizing
  printer/util.go
Labels: go

Fix CI/CD security to follow zizmor recommendations (#273)
  .github/workflows/ci.yml
  .github/workflows/govulncheck.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
Labels: github_actions

Switch from bitnami/kubectl to registry.k8s.io/kubectl
  Dockerfile
Labels: dependencies

Switch from bitnami/kubectl to registry.k8s.io/kubectl (#276)
  Dockerfile
Labels: dependencies

add more missing error status colorizing (#274)
  printer/util.go
Labels: go

Test line reading fix
  nonblockingtest/main.go
  nonblockingtest/script.sh
Labels: go

add test workflow
  .github/workflows/nonblockingtest.yml
Labels: github_actions
