Repository kubecolor/kubecolor, pull requests merged in 2024-09, with the labels that each got.

#169 Added colored kubecolor debug logs
  command/init_test.go
  command/runner.go
  config/color/color.go
  config/color/color_convert.go
  config/color/color_parse.go
  config/color/color_raw.go
  config/color/color_test.go
  config/color/colorslice.go
  config/color/init_test.go
  config/config.go
  config/init_test.go
  config/theme.go
  go.mod
  go.sum
  internal/cmd/configdoc/main.go
  internal/cmd/configschema/main.go
  internal/cmd/imagegen/main.go
  internal/slogutil/logger.go
  internal/testcorpus/init_test.go
  internal/testcorpus/run.go
  kubectl-foobar
  main.go
  printer/kubectl_explain.go
  printer/kubectl_logs.go
  printer/kubectl_output_colored_printer.go
  printer/kubectl_verb.go
  printer/single_colored_printer.go
  printer/single_colored_printer_test.go
  printer/table.go
  printer/util.go
Labels: enhancement

#174 allow negative tz offsets in time regex
  scanner/logscan/logscan.go
  scanner/logscan/logscan_test.go
Labels: bug

#177 Update to Go 1.22.7
  Dockerfile
  go.mod
Labels: chore, security

#182 Fixed 'kubectl version -o yaml' indentation
  printer/kubectl_version.go
Labels: bug

#181 Fixed --output=name using table coloring
  kubectl/subcommand.go
  kubectl/subcommand_test.go
  printer/kubectl_output_colored_printer.go
  test/corpus/kubectl_get.txt
  test/corpus/kubectl_version.txt
Labels: bug
